<a href="https://colab.research.google.com/github/kwak-jae-yong/123123/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.자료형 출력하기

In [ ]:
print("hello python!")

hello python!

In [ ]:
#정수형
x=10
y=5
z=x+y
print(z)
print(type(z))
print(f"{x}와 {y}의 합은 {z}입니다")

15
<class 'int'>
10와 5의 합은 15입니다

In [ ]:
#실수형
pi=3.14159
radius=5
area=pi*radius*radius

print(area)
print(f"pi:{pi},radius:{radius},area:{area}")
print(type(area))

78.53975
pi:3.14159,radius:5,area:78.53975
<class 'float'>

In [ ]:
#문자열
name="james"
greeting =f"hello,{name}"

print(greeting)
print(type(greeting))

hello,james
<class 'str'>

In [ ]:
#boolean

is_active=False

if is_active:
  print("활성화입니다")
else:
  print("비활성화입니다")
  print(type(is_active))

비활성화입니다
<class 'bool'>

In [ ]:
#List

numbers=[1,2,3,4,5]
numbers.append(6)
print(numbers)

print(f"리스트의 길이:{len(numbers)}")
print(type(numbers))

[1, 2, 3, 4, 5, 6]
리스트의 길이:6
<class 'list'>

In [ ]:
#tuple
cordinates =(10,20)
#cordinates[0]=30
print(cordinates[1])
print(type(cordinates))

20
<class 'tuple'>

In [ ]:
#dist

person={
    "name":"jhon",
    "age":30,
    "city":"NewYork"
}

print(person["name"])
print(person["age"])
print(person["city"])
print(type(person))

jhon
30
NewYork
<class 'dict'>

In [ ]:
#set
unique_numbers = {1,2,3,4,1,4,5,6}
print(unique_numbers)
print(type(unique_numbers))

{1, 2, 3, 4, 5, 6}
<class 'set'>

# 2.문자열처리

In [ ]:
text = "hello python"
print(text)
print(text[0])
print(text[-1])
print(text[0:5])
print(text[6:])
print(text[:5])

hello python
h
n
hello
python
hello

In [ ]:
name="wick"
age=25
print(f"{name}의 나이는 {age}살입니다")
print("{}의 나이는 {}살입니다.".format(name,age))
print("%s의 나이는 %d살입니다"%(name,age))

wick의 나이는 25살입니다
wick의 나이는 25살입니다.
wick의 나이는 25살입니다

In [ ]:
s="Hello Python"
print(s.strip())
print(s.upper())
print(s.lower())

# 3.사용자입력

In [ ]:
x,y=input("두 숫자를 입력하세요 ex(10,20)").split(".")
print(f"x:{x},y:{y}")

두 숫자를 입력하세요 ex(10,20)10.20
x:10,y:20

In [ ]:
name=input("이름을 입력하세요")
age=input("나이를 입력하세요")
print(f"{name}님 안녕하세요 당신의 나이는{age}입니다")

이름을 입력하세요ㅓ믇ㄴ
나이를 입력하세요25
ㅓ믇ㄴ님 안녕하세요 당신의 나이는25입니다

#4.연산자

In [ ]:
a=int(input("input first num"))
b=int(input("input second num"))

print("더하기",a+b)
print("빼기",a-b)
print("곱하기",a*b)
print("나누기",a/b)
print("거듭제곱",a**b)
print("나머지",a%b)

input first num45
input second num22
a+b 67
a+b 23
a+b 990
a+b 2.0454545454545454
a+b 2347876792391803819849491119384765625
a+b 1

In [ ]:
age=int(input("나이를 입력하세요"))
is_teenager = age>=13 and age <=19
print("is he teenage?",is_teenager)

나이를 입력하세요15
is he teenage? True

In [ ]:
score=int(input("점수를 입력하세요"))
if score>=60:
   print("qualified")
else:
  print("unqualified")

점수를 입력하세요61
qulified

# 5.실습문제-1

In [ ]:
name=input()
age=int(input())

print(f"{name}님은 {age}살입니다")

홍길동
11
홍길동님은 11살입니다

In [ ]:
a=10
b=20
print(f"{a}+{b}={a+b}")

10+20=30

In [ ]:
pi=3.14
radius=int(input())
area=pi*radius*radius
print(f"원의 넓이: {area}")
print(f"원의 넓이: {area:.2f}")

30
원의 넓이: 2826.0
원의 넓이: 2826.00

In [ ]:
a=int(input())
if a%2==0:
  print(f"{a}는 짝수입니다" )
else:
 print(f"{a}는 홀수입니다" )

12
12는 짝수입니다

In [ ]:
height=float(input())
weight=int(input())
height_m=height/100
bmi=weight/(height_m**2)
print(f"당신의 bmi는 {bmi:.2f} 입니다")

178
63
당신의 bmi는 19.88 입니다

#6.조건문

In [ ]:
x=int(input())
if x>10:
  print("x is bigger then 10")
elif x>5:
  print("x is bigger then 5")
else:
  print("x is smaller then 5")

6
x is bigger then 5

In [ ]:
age=int(input())
student=input()

if age>=18:
  if student=="student":
    print("adult student")
  else:
    print("adult not a student")

65
student
adult student

In [ ]:
x=int(input()) #x=3
result ="x is bigger then 5" if x>5 else"x is smaller then 5"
print(result)

7
x is bigger then 5

In [ ]:
x=12
if x>5 and x<10:
  print("x is bigger then 5 and smaller then 10")
if x<5 or x>10:
  print("x is smaller then 5 or bigger then 10")
else:
  print("x is bigger then 5 smaller then 10")

x is smaller then 5 or bigger then 10

In [ ]:
x=10
y=20

if x==y:
  print("x is simmilar to y")
elif x!=y:
  print("x is not simmilar to y")

x is not simmilar to y

In [ ]:
my_list=[1,2,3,4,5]
if 3 in my_list:
  print("3 is in my_list")
if 6 not in my_list:
  print("6 is not in my_list")

#7.실습문제-2

In [ ]:
x=int(input("input num"))
if x>0:
  print("its yang num")
elif x<0:
  print("its yin num")
else:
  print("its zero")

input num15
its yang num

In [ ]:
x=int(input("input num"))
if x%2==0:
  print("its odd")
else:
  print("its even")

input num14
its odd

In [ ]:
x=int(input("input first num"))
y=int(input("input second num"))

if x>y:
  print(f"more big num is {x}")
else:
  print(f"more big num is {y}")

input first num15
input second num16
more big num is16

In [ ]:
score = int(input("input num"))

if score>=90:
  print("A")
elif score>=80:
  print("B")
elif score>=70:
  print("C")
else:
  print("D")

input num99
A

In [ ]:
my_list=[3,7,8,9]
x=int(input("input first num"))
if x in my_list:
  print(f"{x} is in my list")
else:
  print(f"{x} is not in my list")

input first num15
15 is not in my list

In [ ]:
x=int(input("input first num"))
y=int(input("input second num"))

if x==y:
  print(f"{x} is same as {y}")
else:
  print(f"{x} is not same as {y}")

input first num12
input second num13
12 is not same as 13

In [ ]:
word = input("input text")

if len(word)>=5:
  print("that short")
else:
  print("thats long")

In [ ]:
x=int(input("input num"))

if 1<=x & x<=100:
  print("capable")
else:
  print("out of control")

In [ ]:
id=input("input ID: ")
pw=int(input("input PASSWORD: "))

if id=="admin" and pw==1234:
  print("login success")
else:
  print("fail to login")

input ID: admin
input PASSWORD: 1234
login success

In [ ]:
num=int(input("input num"))

if num%2==0:
  print("3 multiply")
else:
  print("not 3 multiply")

# 8-1 반복문

In [ ]:
nums =[10,20,30,40,50]

print(nums[0])
print(nums[-1])
print(nums[1:3])

10
50
[20, 30]

In [ ]:
animals = ["dog","cat","parrot"]

for animal in animals:
  print(animal)

dog
cat
parrot

In [ ]:
fruits = ["apple","orange","banana"]

print("fruit log")

for f in fruits:
  print(f" - {f}")

fruit log
 - apple
 - orange
 - banana

In [ ]:
names =[]

for i in range(3):
  name=input(f"{i+1} input counted name")
  names.append(name)
print("input name list",names)

1 input counted nameharry
2 input counted namejhon
3 input counted namemike
input name list ['harry', 'jhon', 'mike']

# 8-2 반복문

In [ ]:
num_list=[10,21,32,43,54]


sum=0
for num in num_list:
  sum+=num

avg=int(sum/len(num_list))
print(f"sum of list {sum}")
print(f"avg of list {avg}")

sum of list 1600
avg of list 320

In [ ]:
score=[65,75,85,95,105]
count = 0
for i in score:
  if i>=60:
    print(i)
    count+=1
print(count)

65
75
85
95
105
5

In [ ]:
names =[]
for i in range(3):
  name =input(f"{i+1}번 이름을 입력하세요")

  names.append(name)
print("입력한 이름 리스트".names)

In [ ]:
fruits=[]
for i in range(3):
  fruit=input(f"{i+1}번 과일을 입력하세요")


  fruits.append(fruit)
print(fruits[0])

1번 과일을 입력하세요apple
2번 과일을 입력하세요orange
3번 과일을 입력하세요banana
apple

In [ ]:
num_list=[1,2,3,4,5]

new_list=[]

for num in num_list:
  if num%2==0:
    new_list.append(num)
print(new_list)

[2, 4]

#8-3 배열 반복문:

In [ ]:
nums=[]
for num in range(10):
 num+=1

 nums.append(num)

print(nums)

for i in range(1,11):
  print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [ ]:
str1="안녕하세요"
str2="저는"
num=int(input("input Num: "))
for i in range(num):
  print(str1)

input Num: 15
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [ ]:
result=""
for i in range(1,101,2):
  result+=str(i+1)+","
print(result.strip(","))

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

In [ ]:
nums=[]

for num in range(5):
  num=int(input(f"{num+1} 번 숫자를 입력하세요: "))
  nums.append(num)
print(nums)

1 번 숫자를 입력하세요: 1
2 번 숫자를 입력하세요: 2
3 번 숫자를 입력하세요: 3
4 번 숫자를 입력하세요: 4
5 번 숫자를 입력하세요: 5
[1, 2, 3, 4, 5]

#9-1함수의 정의

In [ ]:
def greet(name):
  return f"hello {name}"
message= greet("jhon")
print(message)

hello jhon

In [ ]:
def add(a,b):
  return a+b
result = add(5,9)
print(result)

def multy(x,y,z):
  return x*y*z
result2=multy(3,2,1)
print(result2)

14
6

#9-2 함수의유형

In [ ]:
def say_hi():
  print("hi")
say_hi()

hi

In [ ]:
def greet(name="guest"):
    print(f"Hello, {name}!")

greet("jhon")
greet()
def new_greet(user="admin",age=25):
  print(f"{user}님의 나이는 {age}살 입니다")
new_greet("james",20)
new_greet()

Hello, jhon!
Hello, guest!
james님의 나이는 20살 입니다
admin님의 나이는 25살 입니다

In [ ]:
def add_numbers(*keyword):
  return sum(keyword)
print(add_numbers(1,2,3,4,5,6))

21

In [ ]:
def print_info(**keys):
  for key,value in keys.items():
    print(f"{key}:{value}")
print_info(name="james",age=25,city="pyeong yang")

name:james
age:25
city:pyeong yang

#9-3 lamda

In [ ]:
square = lambda x:x**2
print(square(5))
print(square(6))
circle=lambda a,b,c:a*b*c
print(circle(1,2,3))

25
36
6

#9-4 실습문제-3

In [ ]:
numbers=[1,2,3,4,5]
squares=list(map(lambda x:x**2,numbers))

print(squares)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [10,15,21,30,33,40]
result = list(filter(lambda x:x%3==0,numbers))

print(result)

[15, 21, 30, 33]

In [ ]:
students=[("김정은",41),("트럼프",78),("이재명",60)]
sorted_students=sorted(students,key=lambda x:x[1],reverse=True)
print(sorted_students)

[('트럼프', 78), ('이재명', 60), ('김정은', 41)]

#9-5 중첩함수

In [ ]:
def factorial(n):
  if n==1:
    return 1
  return n*factorial(n-1)
print(factorial(4))

24

In [ ]:
def outer_function(msg):
  def inner_function():
    print(msg+"!!!")
  inner_function()
outer_function("hello python")

hello python!!!

In [ ]:
def outer(name):
  def inner():
    return f"{name} sama yokoso"
  return inner()
print(outer("hong gil dong"))

hong gil dong sama yokoso

In [ ]:
def greeting(name):
  def message():
    print(f"{name} 님 안녕하세요")
  return message
say_hi = greeting("PYTHOOOOON")
say_hi()

PYTHOOOOON 님 안녕하세요

In [ ]:
def max_fuc(num):
  return max(num)
def min_fuc(num):
  return min(num)
print(max_fuc([1,2,3,4,5]))
print(min_fuc([1,2,3,4,5]))

5
1

In [ ]:
def reverse_string(s):
  return s[::-1]

print(reverse_string("뭉탱이로다가 유리게슝 오옹 나이스 으시안 오옹"))

옹오 안시으 스이나 옹오 슝게리유 가다로이탱뭉